/* 변수 */ //기존css와 다르게 변수지정해서 사용할수있다
$bg-color: coral;
$color: white;
$padding: 20px;

/* 믹스인 */ //속성까지 담아준다
@mixin text-center {
  text-align: center;
}

/* 상속 */
.border {
  border: 10px solid wheat;
}

.scss-style {
  @include text-center(); // 믹스인 호출하는방법
  @extend .border; // 상속 호출하기
  background-color: $bg-color;
  color: $color;
  padding: $padding;

  /* 중첩 */
  h1 {
    color: blue;
    &:hover {
      color: black;
    }
  }
}
