body{
    background: linear-gradient(blue,red,yellow);
    height: 100vh;
}
header{
    text-align: center;
    width: 400px;
    border : 2px solid white;
    border-radius: 15px;
    margin: 20px auto
}

header img {
    border-radius: 50%;
    object-fit: cover;
    width: 200px;
    height: 200px;
    margin: 20px;
}

header h1{
    color: white;
    font-size: 25px;
    font-weight: bold;
}
header a{
    display:flex;
    justify-content: center;
    color: white;
    border: 1px solid white;
    font-weight: bold;
    border-radius: 1px;
    padding: 20px;
    margin: 10px;
}
header a:hover{
    color: black;
    background-color: white;
}