/* 1. 전체 선택자 */
* {
  color: blue;
}

/* 2. 태그 선택자 */
h3 {
  background-color: yellow;
}
p {
  color: tomato;
}

/* 3. 클래스 선택자 */
.class1 {
  color: yellowgreen;
}
.class2 {
  font-size: 30px;
}

#id1 {
  background-color: indigo;
}

/* 5. 그룹 선택자 */
#select1,
#select2 {
  background-color: orangered;
}

/* 6. 자식 선택자와 자손 선택자 */
#test1 > * {
  background-color: pink;
}
#test1 li {
  color: red;
}
#test1 > ul > li {
  background: darkcyan;
}

/* 7. 속성 선택자 */
/* div 요소들 중 name 속성값이 name1과 "일치"하는 요소 */
div[name="name1"] {
  background: orange;
}
/*div 요소들 중 name 속성값이 name1이 "포함" 되어있는 요소*/
div[name~="name1"] {
  background: yellow;
}
/* div 요소들 중 class 속성값이 -c가 "포함"되어있는 요소 */
div[class*="-c"] {
  color: red;
}
/* div 요소들 중 name속성값이 na로 "시작"되는 요소*/
div[name^="na"] {
  background: blue;
}
/* div 요소들 중 class 속성값이 class로 "시작"되는 요소*/
div[class|="class"] {
  background: cyan;
}
/* div 요소들 중 class 속성값이 ss로 "끝"나는 요소 */
div[class$="ss"] {
  color: white;
}

/*8. 형제 선택자 */
/* a + b : a 요소 바로 뒤에 있는 b요소 "하나만" 선택 */
#test2 + div {
  background: yellow;
}
#test2 + p {
  background: pink; /* 재대로 선택 X */
}
/* a ~ b : a 요소 뒤에 "모든" b 요소 선택*/
#test2 ~ div {
  background: beige;
}
#test2 ~ p {
  background: deeppink;
}

/*9. 반응 선택자*/
.area {
  width: 100px;
  height: 100px;
  cursor: pointer;
}
/* : active : 사용자가 클릭하고 있을 때*/
#active-test:active {
  background: yellow;
  color: red;
}

#hover-test:hover {
  background: maroon;
  color: white;
}

input[name="userId"]:focus {
  background: pink;
}
/*10. 상태 구조자*/
input[type="checkbox"]:checked {
  width: 20px;
  height: 20px;
}

button:disabled {
  background: greenyellow;
}
button:enabled {
  background: violet;
}

/*11. 구조 선택자 */
/*첫번째 요소*/
#test3 li:first-child {
  background: salmon;
}
/* 해당 유형 중 첫번째 요소 */
#test3 p:first-of-type {
  color: violet;
}
#test3 li:last-child {
  background: skyblue;
}
/* 해당 유형 중 마지막 요소 */
#test3 li:last-of-type {
  color: brown;
}
/* 몇 번째 요소 */
/* even : 짝수, odd : 홀수 */
#test3 li:nth-child(odd) {
  background: aquamarine;
}
/* 해당 유형 중 몇 번째 요소*/
#test3 li:nth-of-type(2) {
  color: white;
}

/* 뒤에서부터 몇번째 요소 */
#test3 li:nth-last-child(4) {
  background: hotpink;
}
/* 뒤에서부터 해당 유형 중 몇번째 요소 */
#test3 li:nth-last-of-type(3) {
  background: seagreen;
}
/*12. 가상 요소 선택자 */
#test4 p::before {
  content: "앞";
  color: blue;
  background: yellow;
}
#test4 p::after {
  content: "뒤";
  color: white;
  background: black;
}
