#ff1 {
  font-family: 궁서체;
}
#ff2 {
  font-family: 고딕체;
}
#ff3 {
  font-family: Arial, 궁서체, Helvetica, sans-serif;
}
#ff4 {
  font-family: "Gugi", sans-serif;
}

#fw1 {
  font-weight: bold;
}
#fw2 {
  font-weight: 900; /* border */
}
#fw3 {
  font-weight: 100; /* lighter */
}

#fs1 {
  font-size: 30px; /* 기본 크기 : 16px */
}
#fs2 {
  font-size: 2em; /* 32px -> 60px*/
}
#fs3 {
  font-size: 2rem; /* 32px */
}
#fs4 {
  font-size: 200%; /* 32px -> 60px*/
}

#fs5 {
  font-style: italic;
}
#fs6 {
  font-style: oblique;
}

#fv {
  font-variant: small-caps;
}
/*
    font : font-style font-variant font-weight font-size/line-height font-famliy;
*/
#font1 {
  font: italic small-caps bold 32px/2 "Gugi";
}
#font2 {
  font: 2rem "Gugi";
}

#c-name {
  color: red;
}
#c-16 {
  color: #dd882e;
}
#c-rgb {
  color: rgb(62, 223, 78);
  color: rgba(62, 223, 78, 0.5);
}
#c-hsl {
  color: hsl(200, 50%, 50%);
  color: hsla(200, 50%, 50%, 0.2);
}

#td1 {
  text-decoration: underline;
}
#td2 {
  text-decoration: overline;
}
#td3 {
  text-decoration: line-through;
}
#td4 {
  text-decoration: none;
}

#tt1 {
  text-transform: uppercase;
}
#tt2 {
  text-transform: lowercase;
}
#tt3 {
  text-transform: capitalize;
}

.shadow {
  font-size: 50px;
  font-weight: 900;
}
/*
    text-shadow:: dx dy blur color
    -dx : 그림자의 기로방향 거리 지정 (오른쪽 : 양수 , 왼쪽 : 음수)
    -dy : 그림자의 세로뱡향 거리 지정 (아래쪽 : 양수 , 위쪽 : 음수)
    - blur : 그림자의 흐려짐 정도(양수 : 모든 방향으로 번짐, 음수 : 모든 뱡향으로 축소)
    -color : 그림자의 색상 지정 (기본값 : 현재 글자색)
*/
#ts1 {
  color: orangered;
  text-shadow: 5px 5px 5px yellow;
}
#ts2 {
  color: white;
  text-shadow: 0px 0px 10px yellowgreen;
}
#ts3 {
  text-shadow: 0px 0px 4px gray, 0px -5px 4px yellow, 0px -10px 8px orange,
    0px -15px 15px orangered, 0px -22px 20px red;
}

#whs {
  border: 1px solid;
  width: 200px;

  /* normal : 기본값 . 여려 개의 공백을 하나로 표기 */
  white-space: normal;

  /* nowrap : 여러 개의 공백을 하나의 표시, 영역을 넘어가는 내용은 줄바꾸지 않고 한줄로 표시 */
  white-space: nowrap;

  /* pre : 여러 개의 공백을 그대로 표시, 영역을 넘어가는 내용은 줄바꾸지 않고 한줄로 표시*/
  white-space: pre;

  /* pre-line : 여려 개의 공백을 하나로 표시 */
  white-space: pre-line;

  /*pre -wrap : 여려 개의 공백을 그대로 표시*/
  white-space: pre-wrap;
}

#ls {
  letter-spacing: 10px;
}
#ws {
  word-spacing: 20px;
}

#ta1 {
  text-align: left;
}
#ta2 {
  text-align: right;
}
#ta3 {
  text-align: center;
}
#ta4 {
  text-align: justify;
}

#ti {
  text-indent: 10px;
}

#lh {
  line-height: 60px;
  line-height: 3;
}

/*
    text-overflow
    -clip (기본값) : 영역을 넘어가는 텍스트를 자른다.
    -ellipsis : 말 줌임으로 잘린 텍스트를 표현한다.
*/
#to {
  background: beige;
  width: 500px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/*
    list-style(-type)
    -disc (기본값) : 채워진 원 모양 불렛
    -circle : 빈 원 모양 불렛
    -square : 채운 사각형 모형 불렛
    -none : 불렛 없애기
*/
ul {
  list-style: circle;
  list-style: square;
  list-style: none;
}
