.container {
  background: orange;
  height: 100vh;

  /* 1.flex */
  display: flex;

  /* 2, flex-direction */
  flex-direction: column;
  flex-direction: row;

  /* 3. flex-wrap */
  flex-wrap: wrap-reverse;
  flex-wrap: nowrap;

  /* 4. justify-content */
  justify-content: center;
  justify-content: space-evenly;
  justify-content: flex-start;

  /* 5. align-items*/
  align-items: flex-end;
  align-items: center;
  align-items: stretch;

  /* 6. aling-content*/
  align-content: space-between;
}
.item {
  background-color: white;
  border: 3px solid black;
  padding: 1rem;
  margin: 1px;
  flex-basis: auto;
  flex: 1;
}
.item:nth-child(1) {
  /*flex-grow: 1;*/
  align-self: flex-start;
}
.item:nth-child(2) {
  /*flex-grow: 2;*/
  align-self: center;
}
.item:nth-child(3) {
  /*flex-grow: 1;*/
  align-self: flex-end;
  order: 1;
}
.item:nth-child(4) {
  /*flex-grow: 3;*/
  order: 2;
}
.item img {
  width: 95px;
  height: 95px;
}
