.progress-bar-container {
  position: fixed;
  left: 0;
  top: 0;
  height: 4px;
  width: 100%;
  z-index: 100000;
}
.progress-bar {
  width: 0%;
  height: 100%;
  background-color: #ff0000;
}
/*header*/
header {
  position: fixed;
  background-color: orange;
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 60px;
}

.header-start {
  display: flex;
}
.header-start i {
  font-size: 20px;
  margin: 20px;
}
.header-start a {
  padding: 20px 10px;
}
.header-center {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header-center input {
  display: none;
}
.header-center button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
}
.header-end {
  display: flex;
  margin: 20px;
}
.header-end button {
  background: none;
  border: none;
  font-size: 20px;
}

/*main*/
main {
  display: flex;
  padding-top: 60px;
}
main aside {
  display: none;
  position: fixed;
  width: 55px;
}
main aside a {
  height: 55px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main aside a i {
  margin-bottom: 5px;
}
main aside a span {
  font-size: 0.8rem;
}
main nav {
  position: fixed;
  width: 100%;
  height: 45px;
  display: flex;
  padding-left: 15px;
  align-items: center;
  background-color: #fff;
}
main nav a {
  background-color: #eee;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 5px;
}
main nav a.active {
  background-color: #000;
  color: #fff;
}
main section {
  padding-top: 45px;
}
/* 반응형 header */
@media screen and (min-width: 650px) {
  .header-center {
    justify-content: center;
  }
  .header-center input {
    display: block;
    padding: 10px 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 1px solid #ddd;
    width: 30%;
    max-width: 500px;
  }
  .header-center button {
    background-color: #ddd;
    border: 1px solid #ddd;
    border-left: none;
    padding: 6px 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
}
@media screen and (min-width: 1000px) {
  .header-center input {
    width: 90%;
  }
}

/* 반응형 main */
@media screen and (min-width: 665px) {
}
@media screen and (min-width: 880px) {
  main aside {
    height: 100%;
    display: block;
    background-color: orange;
  }
  main .main-content {
    padding-left: 60px;
  }
}
